/bin
/boot/System.map*
/boot/config*
/boot/initrd.img*
/boot/vmlinuz*
/boot/dtbs
/dev
/lib
/lost+found
/media
/opt
/proc
/run
/sbin
/srv
/sys
/tmp
/var
/home
/mnt
/snap

# directories with potential changes - hide
/boot
/etc
/root
/usr
